name: Build and Deploy to Netlify

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-18.04
    env:
      working-directory: ./client

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-node-

      - name: Install Dependencies
        run: yarn
        working-directory: ${{ env.working-directory }}

      - name: Build Website
        run: yarn build
        working-directory: ${{ env.working-directory }}

      - name: Run Unit Tests
        run: yarn test
        working-directory: ${{ env.working-directory }}

      - name: PR Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.1
        with:
          publish-dir: 'client/build'
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: true
          enable-commit-comment: true
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 1